@import "tailwindcss";

body {
  background-color: #0b1411; /* Dark Greenish Black matched from other files */
  font-family: "Inter", sans-serif;
}

/* Custom Scrollbar for "premium" feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2d4a3e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #34d399;
}

/* Remove default eye icon in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
